{% extends 'basic/base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Healthcare in the United States is largely provided by private sector healthcare facilities, 
        and paid for by a combination of public programs, private insurance, and out-of-pocket payments. 
        The U.S. is the only developed country without a system of universal healthcare, and a significant proportion of its population lacks health insurance.
        The United States spends more on healthcare than any other country, both in absolute terms and as a percentage of GDP.
         However, this expenditure does not necessarily translate into better overall health outcomes compared to other developed nations.
          Coverage varies widely across the population, with certain groups, such as the elderly and low-income individuals,
          receiving more comprehensive care through government programs such as Medicaid and Medicare. </p>
    <hr class="my-4">
    <p>contact us +9876543210</p>
 
  </div>

{% endblock %}