{% extends 'basic/base.html' %}
{% load static %}

{% block content %}

<div class="welcome-area" id="welcome">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <!-- display messages from backend -->
        <div class="container mt-2">

            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div id="failure-alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% elif message.tags == "info" %}
                    <div id="failure-alert" class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- ************************************************* -->
        <div class="container">
            <div class="row">
                <!-- <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-md-12"> -->
                <div class="col-xl-12">
                    <h1><strong>Empowering Minds with Advanced Care</strong></h1>
                        <h4>Discover Precision and Compassion in Every Assessment</h4>
                        <p>At Interactions Psychology, we're committed to enhancing lives through comprehensive, evidence-based psychometric assessments.
                            Leveraging cutting-edge AI and NDIS-accepted tools, our team excels in identifying a spectrum of cognitive conditions, including autism.
                            We pride ourselves on a compassionate approach, with a team enriched by both professional expertise and personal experience.
                        </p>
                   
                    <!-- <a href="#features" class="main-button-slider">Discover More</a> -->
                    {% if not user.is_authenticated %}    
                        <a href="{% url 'basic:login' %}" class="main-button-slider" data-toggle="modal" data-target="#loginModal" style="border-radius: 5px; margin-right: 10px; padding: 16px 60px;">Login</a>
                        <a href="{% url 'basic:register' %}" class="main-button-slider" data-toggle="modal" data-target="#registerModal" style="border-radius: 5px; margin-right: 10px; padding: 16px 60px;">Register</a>
                    
                    {% elif bought_all%}
                        <h5> <span class="badge badge-info" style="background-color: rgb(189, 155, 71);">You already have bought all products !!</span> </h5>

                    {% else %}
                        {% if not prev_purchases %}
                            {% with product_id=0 %}
                            <a href="{% url 'basic:buy_product' product_id %}" data-toggle="modal" data-target="#buyProductModal" data-product-id="0" class="main-button-slider buy_product_btn" style="border-radius: 5px; margin-right: 10px; padding: 16px 60px;">Buy All</a>
                            {% endwith %}
                        {% else %}
                            <a href="{% url 'payment_support:create_allpayment' %}" class="main-button-slider buy_product_btn" style="border-radius: 5px; margin-right: 10px; padding: 16px 60px;">Buy All</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Text End ***** -->
</div>

<!-- ************ include modals ******************** -->

{% include 'basic/login.html' %}
{% include 'basic/register.html' %}
{% include 'basic/buy_product.html' %}


<!-- ************************************************ -->

<!-- ********************************* product pricing  ****************************** -->
<section class="section colored" id="pricing-plans">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Pricing Plans</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->
        
        <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">

                {% if product.id == next_allow_product %}
                    <div class="pricing-item">
                {% else %}
                    <div class="pricing-item" style="background-color: #EBEBEB;">
                {% endif %}
                    <div class="pricing-header">
                        <h3 class="pricing-title">{{product.name}}</h3>
                    </div>
                    <div class="pricing-body">
                        {% if product.id == next_allow_product %}
                            <div class="price-wrapper" style="background-color: #685D33;">
                        {% else %}
                            <div class="price-wrapper">
                        {% endif %}
                                <span class="currency">$</span>
                                <span class="price">{{product.price}}</span>
                                <!-- <span class="period">unlimited</span> -->
                            </div>
                        
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <h5 class="features-title">Description</h5>
                            <p>{{ product.description}}</p>
                        </div>
                    </div>
                    
                    <div class="pricing-footer">
                        {% if product.id in prev_purchases %}
                            <h6> <span style="color: #186F65;"> product already bought </span> </h6>
                        <!-- <a href="#" class="main-button-slider">Purchase Now</a> -->
                        
                        {% elif user.is_authenticated %}
                            {% if product.id == next_allow_product %}
                                {% if not prev_purchases %}
                                   <a href="{% url 'basic:buy_product' product.id %}" data-toggle="modal" data-target="#buyProductModal" data-product-id="{{ product.id }}" class="main-button-slider buy_product_btn">Buy product</a>
                                {% else %}
                                    <a href="{% url 'payment_support:create_payment' product.id %}" class="main-button-slider buy_product_btn">Buy product</a>
                                {% endif %}
                            {% else %}
                                <h6> <span style="color: #2d3030;"> buy previous product first or buy all </span> </h6>
                            {% endif %}

                        {% else %}
                            <h6> <span style="color: #5a450c;"> ⚠️ please login to buy this product</span> </h6>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}

            </div>
        </div>
    </section> 
<!-- ******************************************************************************** -->


    <section class="section" id="testimonials about-product">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">How Our Assessment Process Works:</h2>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="center-text step">
                        <h4>1. Client Log In </h4>
                        <p>Access your account securely and conveniently.</p>
                    </div>
                </div>

                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>2. Choose Assessment:</h4>
                        <p>Select from a wide range of assessments tailored to your needs.</p>
                    </div>
                </div>

                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>3. Clinician Calls you 15min Free Consultation </h4>
                        <p>Discuss your needs and specifics with a dedicated clinician.</p>
                    </div>
                </div>

                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4> 4. Clinician Send Screeners Links</h4>
                        <p>Receive a curated set of screening tools like WHODAS 2.0 or RAADS-R.</p>
                    </div>
                </div>

                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4> 5. Clinician Reviews Automated Results</h4> 
                        <p> Our clinicians review automated results for accuracy and insights.</p>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>6. Clinician Email you a Recommendation</h4> 
                        <p> Get professional recommendations based on preliminary findings.</p>
                    </div>  
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>7. Clinician Conducts Interviews</h4>
                        <p>Engage in comprehensive clinical and developmental interviews</p>
                    </div>
                </div>

                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>8. Client Undergo Diagnostics</h4>
                        <p> Complete advanced diagnostic tools for a definitive understanding and diagnostic process as per The Diagnostic and Statistical Manual of Mental Disorders DSM-5.</p>
                       
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>9. Discuss Results</h4>
                        <p>Have a detailed discussion about the findings and what they mean for you.</p>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text step">
                        <h4>Finalise Report and Tailored Recommendations</h4>
                        <p> Receive a thorough, insightful report detailing the results, recommendations for services and support, and where to from here.</p>
                    </div>
                </div>

            </div>
            <!-- ***** Section Title End ***** -->
        </div>
    </section> 

    <!-- ****************************************** about us ************************************************ -->

    <section class="section" id="testimonials about-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">About Us?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->
        </div>
    </section>


    <!-- **************************************************************************************************** -->

     <!-- ***** Contact Us Start ***** -->
     <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Talk To Us</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        <br>auctor non lorem</p>
                        <p>You are NOT allowed to re-distribute Softy Pinko template on any template collection websites. Thank you.</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>



{% endblock %}
